<p id="notice"><%= notice %></p>

<h1>Signings</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Tournament</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signings.each do |signing| %>
      <tr>
        <td><%= signing.player_id %></td>
        <td><%= signing.tournament_id %></td>
        <td><%= signing.score %></td>
        <td><%= link_to 'Show', signing %></td>
        <td><%= link_to 'Edit', edit_signing_path(signing) %></td>
        <td><%= link_to 'Destroy', signing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Signing', new_signing_path %>
